*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.contenitore{
    width:1200px;
    margin:0 auto;
}



header>img{
    height: 50px;
    border-right:1px solid  #d5d5d5;
    padding-right: 15px;
}

nav{
    margin-top: 20px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #d5d5d5;
    text-decoration: none;
    padding: 0 5px;
}

.immagine-principale{
    position:relative;
}



.yoga{
    background: url(../img/banner.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    filter: brightness(90%);
    
    
    
}

.testo{
    width: 500px;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 40px;
}




.titolo{
   
    height: 100px;
}

.testo-piccolo{
    color:#d5d5d5;
}


.row{
    padding-top:20px ;
    padding-bottom: 20px;
    
}



.row::after{
    content:"";
    display: table;
    clear: both;
 
  
}


.center{
    float: right;
    width: calc(60% - 40px);
    height: 100%;
    margin-right: 20px;
    margin-left: 20px; 
}

.dx{
    float: right;
    width: 20%;
    height: 100%;
}
.sx{
    float: left;
    width: 20%;
    height: 100%;
}

.contimg{
    height: 100%;
}

.immagine{
    height: 170px;
    background-size:cover;
    border-radius: 10px;
    
    
}



.immagine.destra{
    background:url(../img/img-3.jpg) no-repeat 90% 40%;  
}

.immagine.sinistra{
    background:url(../img/img-1.jpg) no-repeat 50% 50%;
}

.immagine.centrale{
    background:url(../img/banner-2.jpg) no-repeat 50%;
    background-size: cover;
}

.argomento{
    margin-top: 20px;
}

.argomento>span{
    font-size: 15px;
}

.argomento>p{
    color: #d5d5d5;
    margin-top: 10px;
}




footer{
    background-color:#7a01cd;
    height:50px ;
    margin-top: 10px;
}


